{% extends "base.html" %}
{% block content %}
{% for answers in form.questions.errors %}
    {% for key, errors in answers.items() %}
        {% for message in errors %}
<div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    {% endfor %}
{% endfor %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form role="form" action="" method="POST">
        <h2>Do Examination</h2>
        {% for answers in form if answers.id != 'csrf_token' %}
        {{ answers.label }}
        {% endfor %}
                </th>
                <td>
                    <ul id="questions-0-answers">
                        <li>
                            <input id="questions-0-answers-0" name="questions-0-answers" type="radio" value="1">
                            <label for="questions-0-answers-0">月曜日</label>
                        </li>
                        <li>
                            <input id="questions-0-answers-1" name="questions-0-answers" type="radio" value="2">
                            <label for="questions-0-answers-1">火曜日</label>
                        </li>
                        <li>
                            <input id="questions-0-answers-2" name="questions-0-answers" type="radio" value="3">
                            <label for="questions-0-answers-2">水曜日</label>
                        </li>
                        <li>
                            <input id="questions-0-answers-3" name="questions-0-answers" type="radio" value="4">
                            <label for="questions-0-answers-3">木曜日</label>
                        </li>
                    </ul>
                </td>
        <button class="btn btn-lg btn-primary" type="submit">Finish</button>
    </form>
  </div>
</div>
{% endblock %}
