{% extends "base.html" %}
{% block content %}
{% for message in form.username.errors %}
<div class="alert alert-danger">{{ message }}</div>
{% endfor %}
{% for message in form.email.errors %}
<div class="alert alert-danger">{{ message }}</div>
{% endfor %}
{% for message in form.password.errors %}
<div class="alert alert-danger">{{ message }}</div>
{% endfor %}
{% for message in form.confirm.errors %}
<div class="alert alert-danger">{{ message }}</div>
{% endfor %}
<form class="form-signup" role="form" action="{{ url_for('user.signup') }}" method="POST">
    <h3 class="form-signup-heading">Please sign up</h3>
    <input name="username" type="text" class="form-control" placeholder="Username" required autofocus><br>
    <input name="email" type="email" class="form-control" placeholder="Email address" required><br>
    <input name="password" type="password" class="form-control" placeholder="Password" required><br>
    <input name="confirm" type="password" class="form-control" placeholder="Password Confirm" required>
    {{ form.hidden_tag() }}
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</form>
{% endblock %}
