<html>
  <head>
    {% if title %}
    <title>{{title}} - Framgia Level Checker</title>
    {% else %}
    <title>Framgia Level Checker</title>
    {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Framgia Talent Consulting Team">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.min.css') }}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery-1.11.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/site.min.js') }}"></script>
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
  </head>
  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">Framgia Level Checker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% if g.user.is_authenticated() %}
          <ul class="nav navbar-nav">
            <li {% if request.path == url_for('index') %}class="active"{% endif %}><a href="{{ url_for('index') }}">Home</a></li>
            {% if g.user.is_admin() %}
            <li {% if request.path == url_for('admin') %}class="active"{% endif %}><a href="{{ url_for('admin') }}">Admin</a></li>
            <li {% if request.path == url_for('admin.index') %}class="active"{% endif %}><a href="{{ url_for('admin.index') }}">DB</a></li>
            {% endif %}
          </ul>
          {% endif %}
          <ul class="nav navbar-nav navbar-right">
            {% if g.user.is_authenticated() %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ g.user.name }}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('user.profile')}}">Profile</a></li>
                <li class="divider"></li>
                <li><a href="{{ url_for('user.logout') }}">Log out</a></li>
              </ul>
            </li>
            {% else %}
            <li><a href="{{ url_for('user.signup') }}">Sign up</a></li>
            <li><a href="{{ url_for('user.login') }}">Log in</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
      <div class="row clearfix">
        <div class="col-md-12 column">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        {% for category, message in messages %}
        {% if category != 'message' %}
        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
        {% else %}
        <div class="alert alert-danger alert-dismissible" role="alert">
        {% endif %}
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {{ message|safe }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        </div>
        </div>
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
